README.md.vswp
AFE_ADS/ADS_CTL.cmd_log
AFE_ADS/ADS_CTL.tfi
AFE_ADS/AFE_ADS.gise
AFE_ADS/AFE_ADS.xise
AFE_ADS/AFE_ADS_TOP.cmd_log
AFE_ADS/AFE_ADS_TOP.lso
AFE_ADS/AFE_ADS_TOP.ngc
AFE_ADS/AFE_ADS_TOP.ngr
AFE_ADS/AFE_ADS_TOP.prj
AFE_ADS/AFE_ADS_TOP.stx
AFE_ADS/AFE_ADS_TOP.syr
AFE_ADS/AFE_ADS_TOP.xst
AFE_ADS/AFE_ADS_TOP_envsettings.html
AFE_ADS/AFE_ADS_TOP_summary.html
AFE_ADS/AFE_ADS_TOP_xst.xrpt
AFE_ADS/AFE_CTL.cmd_log
AFE_ADS/AFE_CTL.tfi
AFE_ADS/CLK_GRT.cmd_log
AFE_ADS/CLK_GRT.tfi
AFE_ADS/CLK_GRT_summary.html
AFE_ADS/tf_AFE_ADS.fdo
AFE_ADS/tf_AFE_ADS.udo
AFE_ADS/tf_AFE_ADS_do.fdo
AFE_ADS/transcript
AFE_ADS/vsim.wlf
AFE_ADS/webtalk_pn.xml
AFE_ADS/wlft0z810z
AFE_ADS/wlft179z66
AFE_ADS/wlft1rmqh9
AFE_ADS/wlft2x9tdg
AFE_ADS/wlft33y76y
AFE_ADS/wlft4wgv0a
AFE_ADS/wlft544i9e
AFE_ADS/wlft5c398r
AFE_ADS/wlft5vkq2i
AFE_ADS/wlft68mzyi
AFE_ADS/wlft71dewf
AFE_ADS/wlft7ks8hx
AFE_ADS/wlft7ts713
AFE_ADS/wlft86gin2
AFE_ADS/wlft8igynv
AFE_ADS/wlft9ekrrq
AFE_ADS/wlft9mbzb1
AFE_ADS/wlft9njkxc
AFE_ADS/wlfta9kg88
AFE_ADS/wlftate297
AFE_ADS/wlftb284kk
AFE_ADS/wlftb4hxk8
AFE_ADS/wlftb4r6bd
AFE_ADS/wlftb83bjg
AFE_ADS/wlftbgajrq
AFE_ADS/wlftbvix14
AFE_ADS/wlftbyrjj5
AFE_ADS/wlftca662j
AFE_ADS/wlftcx2e0y
AFE_ADS/wlftdey6cc
AFE_ADS/wlftdr7hvb
AFE_ADS/wlfte71022
AFE_ADS/wlfteb10g5
AFE_ADS/wlftev05dz
AFE_ADS/wlftg6dhdz
AFE_ADS/wlftg7725r
AFE_ADS/wlftgdkyfh
AFE_ADS/wlftgqvcr9
AFE_ADS/wlfthev52g
AFE_ADS/wlfthgdi0k
AFE_ADS/wlfthrm93t
AFE_ADS/wlftikht13
AFE_ADS/wlftk6jchy
AFE_ADS/wlftm0szts
AFE_ADS/wlftmqvzmr
AFE_ADS/wlftms8q2g
AFE_ADS/wlftrczfky
AFE_ADS/wlftsr36ns
AFE_ADS/wlftswnjjd
AFE_ADS/wlftsznv43
AFE_ADS/wlftt27art
AFE_ADS/wlftthfxcz
AFE_ADS/wlftthx6nf
AFE_ADS/wlftv6mqz5
AFE_ADS/wlftvtn6hf
AFE_ADS/wlftwqzb5g
AFE_ADS/wlftwwiqhy
AFE_ADS/wlftx6k904
AFE_ADS/wlftxewsth
AFE_ADS/wlftxnki3a
AFE_ADS/wlfty4z6s8
AFE_ADS/wlftymj3z8
AFE_ADS/wlftyvh5yc
AFE_ADS/wlftz6fr6s
AFE_ADS/_xmsgs/pn_parser.xmsgs
AFE_ADS/_xmsgs/xst.xmsgs
AFE_ADS/ipcore_dir/coregen.cgp
AFE_ADS/ipcore_dir/coregen.log
AFE_ADS/ipcore_dir/create_CLK_100M_GRT.tcl
AFE_ADS/ipcore_dir/create_INTER_CLK_GTR.tcl
AFE_ADS/ipcore_dir/edit_INTER_CLK_GTR.tcl
AFE_ADS/ipcore_dir/INTER_CLK_GTR.asy
AFE_ADS/ipcore_dir/INTER_CLK_GTR.gise
AFE_ADS/ipcore_dir/INTER_CLK_GTR.sym
AFE_ADS/ipcore_dir/INTER_CLK_GTR.ucf
AFE_ADS/ipcore_dir/INTER_CLK_GTR.v
AFE_ADS/ipcore_dir/INTER_CLK_GTR.veo
AFE_ADS/ipcore_dir/INTER_CLK_GTR.xco
AFE_ADS/ipcore_dir/INTER_CLK_GTR.xdc
AFE_ADS/ipcore_dir/INTER_CLK_GTR.xise
AFE_ADS/ipcore_dir/INTER_CLK_GTR_exdes.ncf
AFE_ADS/ipcore_dir/INTER_CLK_GTR_flist.txt
AFE_ADS/ipcore_dir/INTER_CLK_GTR_xmdf.tcl
AFE_ADS/ipcore_dir/_xmsgs/cg.xmsgs
AFE_ADS/ipcore_dir/_xmsgs/pn_parser.xmsgs
AFE_ADS/ipcore_dir/INTER_CLK_GTR/clk_wiz_v3_6_readme.txt
AFE_ADS/ipcore_dir/INTER_CLK_GTR/doc/clk_wiz_v3_6_readme.txt
AFE_ADS/ipcore_dir/INTER_CLK_GTR/doc/clk_wiz_v3_6_vinfo.html
AFE_ADS/ipcore_dir/INTER_CLK_GTR/doc/pg065_clk_wiz.pdf
AFE_ADS/ipcore_dir/INTER_CLK_GTR/example_design/INTER_CLK_GTR_exdes.ucf
AFE_ADS/ipcore_dir/INTER_CLK_GTR/example_design/INTER_CLK_GTR_exdes.v
AFE_ADS/ipcore_dir/INTER_CLK_GTR/example_design/INTER_CLK_GTR_exdes.xdc
AFE_ADS/ipcore_dir/INTER_CLK_GTR/implement/implement.bat
AFE_ADS/ipcore_dir/INTER_CLK_GTR/implement/implement.sh
AFE_ADS/ipcore_dir/INTER_CLK_GTR/implement/planAhead_ise.bat
AFE_ADS/ipcore_dir/INTER_CLK_GTR/implement/planAhead_ise.sh
AFE_ADS/ipcore_dir/INTER_CLK_GTR/implement/planAhead_ise.tcl
AFE_ADS/ipcore_dir/INTER_CLK_GTR/implement/planAhead_rdn.bat
AFE_ADS/ipcore_dir/INTER_CLK_GTR/implement/planAhead_rdn.sh
AFE_ADS/ipcore_dir/INTER_CLK_GTR/implement/planAhead_rdn.tcl
AFE_ADS/ipcore_dir/INTER_CLK_GTR/implement/xst.prj
AFE_ADS/ipcore_dir/INTER_CLK_GTR/implement/xst.scr
AFE_ADS/ipcore_dir/INTER_CLK_GTR/simulation/INTER_CLK_GTR_tb.v
AFE_ADS/ipcore_dir/INTER_CLK_GTR/simulation/functional/simcmds.tcl
AFE_ADS/ipcore_dir/INTER_CLK_GTR/simulation/functional/simulate_isim.bat
AFE_ADS/ipcore_dir/INTER_CLK_GTR/simulation/functional/simulate_isim.sh
AFE_ADS/ipcore_dir/INTER_CLK_GTR/simulation/functional/simulate_mti.bat
AFE_ADS/ipcore_dir/INTER_CLK_GTR/simulation/functional/simulate_mti.do
AFE_ADS/ipcore_dir/INTER_CLK_GTR/simulation/functional/simulate_mti.sh
AFE_ADS/ipcore_dir/INTER_CLK_GTR/simulation/functional/simulate_ncsim.sh
AFE_ADS/ipcore_dir/INTER_CLK_GTR/simulation/functional/simulate_vcs.sh
AFE_ADS/ipcore_dir/INTER_CLK_GTR/simulation/functional/ucli_commands.key
AFE_ADS/ipcore_dir/INTER_CLK_GTR/simulation/functional/vcs_session.tcl
AFE_ADS/ipcore_dir/INTER_CLK_GTR/simulation/functional/wave.do
AFE_ADS/ipcore_dir/INTER_CLK_GTR/simulation/functional/wave.sv
AFE_ADS/ipcore_dir/INTER_CLK_GTR/simulation/timing/INTER_CLK_GTR_tb.v
AFE_ADS/ipcore_dir/INTER_CLK_GTR/simulation/timing/sdf_cmd_file
AFE_ADS/ipcore_dir/INTER_CLK_GTR/simulation/timing/simcmds.tcl
AFE_ADS/ipcore_dir/INTER_CLK_GTR/simulation/timing/simulate_isim.sh
AFE_ADS/ipcore_dir/INTER_CLK_GTR/simulation/timing/simulate_mti.bat
AFE_ADS/ipcore_dir/INTER_CLK_GTR/simulation/timing/simulate_mti.do
AFE_ADS/ipcore_dir/INTER_CLK_GTR/simulation/timing/simulate_mti.sh
AFE_ADS/ipcore_dir/INTER_CLK_GTR/simulation/timing/simulate_ncsim.sh
AFE_ADS/ipcore_dir/INTER_CLK_GTR/simulation/timing/simulate_vcs.sh
AFE_ADS/ipcore_dir/INTER_CLK_GTR/simulation/timing/ucli_commands.key
AFE_ADS/ipcore_dir/INTER_CLK_GTR/simulation/timing/vcs_session.tcl
AFE_ADS/ipcore_dir/INTER_CLK_GTR/simulation/timing/wave.do
AFE_ADS/ipcore_dir/tmp/customization_gui.0.0538774752309.out
AFE_ADS/ipcore_dir/tmp/customization_gui.0.520775248073.out
AFE_ADS/ipcore_dir/tmp/_cg/_dbg/xil_735.in
AFE_ADS/ipcore_dir/tmp/_cg/_dbg/xil_735.out
AFE_ADS/ipcore_dir/tmp/_xmsgs/pn_parser.xmsgs
AFE_ADS/iseconfig/AFE_ADS.projectmgr
AFE_ADS/iseconfig/AFE_ADS_TOP.xreport
AFE_ADS/work/_info
AFE_ADS/work/_lib.qdb
AFE_ADS/work/_lib1_12.qdb
AFE_ADS/work/_lib1_12.qpg
AFE_ADS/work/_lib1_12.qtl
AFE_ADS/work/_opt__lock
AFE_ADS/work/_vmake
AFE_ADS/work/@_opt/_lib.qdb
AFE_ADS/work/@_opt/_lib1_0.qdb
AFE_ADS/work/@_opt/_lib1_0.qpg
AFE_ADS/work/@_opt/_lib1_0.qtl
AFE_ADS/work/@_opt/_lib2_0.qdb
AFE_ADS/work/@_opt/_lib2_0.qpg
AFE_ADS/work/@_opt/_lib2_0.qtl
AFE_ADS/work/@_opt/_lib3_0.qdb
AFE_ADS/work/@_opt/_lib3_0.qpg
AFE_ADS/work/@_opt/_lib3_0.qtl
AFE_ADS/work/@_opt/_lib4_0.qdb
AFE_ADS/work/@_opt/_lib4_0.qpg
AFE_ADS/work/@_opt/_lib4_0.qtl
AFE_ADS/work/@_opt/_lib5_0.qdb
AFE_ADS/work/@_opt/_lib5_0.qpg
AFE_ADS/work/@_opt/_lib5_0.qtl
AFE_ADS/work/@_opt/_lib6_0.qdb
AFE_ADS/work/@_opt/_lib6_0.qpg
AFE_ADS/work/@_opt/_lib6_0.qtl
AFE_ADS/work/@_opt1/_lib.qdb
AFE_ADS/work/@_opt1/_lib1_0.qdb
AFE_ADS/work/@_opt1/_lib1_0.qpg
AFE_ADS/work/@_opt1/_lib1_0.qtl
AFE_ADS/work/@_opt1/_lib2_0.qdb
AFE_ADS/work/@_opt1/_lib2_0.qpg
AFE_ADS/work/@_opt1/_lib2_0.qtl
AFE_ADS/work/@_opt1/_lib3_0.qdb
AFE_ADS/work/@_opt1/_lib3_0.qpg
AFE_ADS/work/@_opt1/_lib3_0.qtl
AFE_ADS/work/@_opt1/_lib4_0.qdb
AFE_ADS/work/@_opt1/_lib4_0.qpg
AFE_ADS/work/@_opt1/_lib4_0.qtl
AFE_ADS/work/@_opt1/_lib5_0.qdb
AFE_ADS/work/@_opt1/_lib5_0.qpg
AFE_ADS/work/@_opt1/_lib5_0.qtl
AFE_ADS/work/@_opt1/_lib6_0.qdb
AFE_ADS/work/@_opt1/_lib6_0.qpg
AFE_ADS/work/@_opt1/_lib6_0.qtl
AFE_ADS/work/@_opt1/_lib7_0.qdb
AFE_ADS/work/@_opt1/_lib7_0.qpg
AFE_ADS/work/@_opt1/_lib7_0.qtl
AFE_ADS/work/@_opt2/_lib.qdb
AFE_ADS/work/@_opt2/_lib1_0.qdb
AFE_ADS/work/@_opt2/_lib1_0.qpg
AFE_ADS/work/@_opt2/_lib1_0.qtl
AFE_ADS/work/@_opt2/_lib2_0.qdb
AFE_ADS/work/@_opt2/_lib2_0.qpg
AFE_ADS/work/@_opt2/_lib2_0.qtl
AFE_ADS/work/@_opt2/_lib3_0.qdb
AFE_ADS/work/@_opt2/_lib3_0.qpg
AFE_ADS/work/@_opt2/_lib3_0.qtl
AFE_ADS/work/@_opt2/_lib4_0.qdb
AFE_ADS/work/@_opt2/_lib4_0.qpg
AFE_ADS/work/@_opt2/_lib4_0.qtl
AFE_ADS/xst/work/work.sdbl
AFE_ADS/xst/work/work.sdbx
~$模拟前端到主控线序表.xlsx
PinCorrespondence.md.vswp
模拟前端到主控线序表.xlsx
AFE_ADS/afe_ads_top.bgn
AFE_ADS/afe_ads_top.bit
AFE_ADS/AFE_ADS_TOP.bld
AFE_ADS/afe_ads_top.drc
AFE_ADS/AFE_ADS_TOP.ncd
AFE_ADS/AFE_ADS_TOP.ngd
AFE_ADS/AFE_ADS_TOP.pad
AFE_ADS/AFE_ADS_TOP.par
AFE_ADS/AFE_ADS_TOP.pcf
AFE_ADS/AFE_ADS_TOP.ptwx
AFE_ADS/AFE_ADS_TOP.twr
AFE_ADS/AFE_ADS_TOP.twx
AFE_ADS/AFE_ADS_TOP.unroutes
AFE_ADS/AFE_ADS_TOP.ut
AFE_ADS/AFE_ADS_TOP.xpi
AFE_ADS/AFE_ADS_TOP_bitgen.xwbt
AFE_ADS/AFE_ADS_TOP_guide.ncd
AFE_ADS/AFE_ADS_TOP_map.map
AFE_ADS/AFE_ADS_TOP_map.mrp
AFE_ADS/AFE_ADS_TOP_map.ncd
AFE_ADS/AFE_ADS_TOP_map.ngm
AFE_ADS/AFE_ADS_TOP_map.xrpt
AFE_ADS/AFE_ADS_TOP_ngdbuild.xrpt
AFE_ADS/AFE_ADS_TOP_pad.csv
AFE_ADS/AFE_ADS_TOP_pad.txt
AFE_ADS/AFE_ADS_TOP_par.xrpt
AFE_ADS/AFE_ADS_TOP_summary.xml
AFE_ADS/AFE_ADS_TOP_usage.xml
AFE_ADS/par_usage_statistics.html
AFE_ADS/webtalk.log
AFE_ADS/_ngo/netlist.lst
AFE_ADS/_xmsgs/bitgen.xmsgs
AFE_ADS/_xmsgs/map.xmsgs
AFE_ADS/_xmsgs/ngdbuild.xmsgs
AFE_ADS/_xmsgs/par.xmsgs
AFE_ADS/_xmsgs/trce.xmsgs
AFE_ADS/xlnx_auto_0_xdb/cst.xbcd
_vnote.json
_v_recycle_bin/20200119/20200119162618900_30098.png
_v_recycle_bin/20200119/20200119164127664_6274.png
_v_recycle_bin/20200120/20200119161828694_3377.png
_v_recycle_bin/20200120/20200119164248727_16163.png
_v_recycle_bin/20200120/20200120101018556_7180.png
_v_recycle_bin/20200120/20200120104801563_30599.png
AFE_ADS/wlft7cnyk7
AFE_ADS/wlft7hwszj
AFE_ADS/wlft7ne9hy
AFE_ADS/wlftasmjky
AFE_ADS/wlftxyj0nx
AFE_ADS/work/_opt1__lock
AFE_ADS/work/@_opt1/_lib8_0.qdb
AFE_ADS/work/@_opt1/_lib8_0.qpg
AFE_ADS/work/@_opt1/_lib8_0.qtl
doc/_vnote.json
doc/~$oject_planning.docx
doc/Driving effect.md.vswp
doc/_v_images/20200120093452494_9985.png
doc/_v_images/20200120102120883_19011.png
doc/_v_images/20200120104918258_26669.png
