#### GLOBAL         
NET "sys_clk"  LOC = "AF13" | IOSTANDARD = LVCMOS33 ; 
NET "sys_rst_n"  LOC = "AD14" | IOSTANDARD = LVCMOS33 ;  

NET "sys_clk" TNM_NET = sys_clk;
TIMESPEC TS_sys_clk = PERIOD "sys_clk" 20 ns HIGH 50%;

##AD8363

NET "ADS_SDOA"          LOC =  "C26"      | IOSTANDARD = LVCMOS33;
NET "ADS_BUSY"        	LOC =  "D26"      | IOSTANDARD = LVCMOS33;
NET "ADS_CS_N"        	LOC =  "G25"      | IOSTANDARD = LVCMOS33;
NET "ADS_RD"           	LOC =  "G26"      | IOSTANDARD = LVCMOS33;
NET "ADS_SDI"           LOC =  "H24"      | IOSTANDARD = LVCMOS33;
NET "ADS_M[1]"          LOC =  "K26"      | IOSTANDARD = LVCMOS33;
NET "ADS_SDOB"       	LOC =  "V23"      | IOSTANDARD = LVCMOS33;
NET "ADS_CLK"          	LOC =  "W24"      | IOSTANDARD = LVCMOS33;
NET "ADS_CONVST"        LOC =  "AA24"     | IOSTANDARD = LVCMOS33;
NET "ADS_M[0]"          LOC =  "AA25"     | IOSTANDARD = LVCMOS33;

##AFE0064

NET "AFE_SMT_MD"        LOC =  "K24"      | IOSTANDARD = LVCMOS33;
NET "AFE_PGA[0]"        LOC =  "L24"      | IOSTANDARD = LVCMOS33;
NET "AFE_PGA[2]"        LOC =  "N23"      | IOSTANDARD = LVCMOS33;
NET "AFE_ENTRI"         LOC =  "M24"      | IOSTANDARD = LVCMOS33;
NET "AFE_PDZ"           LOC =  "N25"      | IOSTANDARD = LVCMOS33;
NET "AFE_SMT_MD"       	LOC =  "R25"      | IOSTANDARD = LVCMOS33;
NET "AFE_SHR"          	LOC =  "P24"      | IOSTANDARD = LVCMOS33;
NET "AFE_IRST"          LOC =  "T24"      | IOSTANDARD = LVCMOS33;
NET "AFE_EOC"          	LOC =  "U23"      | IOSTANDARD = LVCMOS33;
NET "AFE_STO"        	LOC =  "U25"      | IOSTANDARD = LVCMOS33;
NET "AFE_STI"        	LOC =  "AA23"     | IOSTANDARD = LVCMOS33;
NET "AFE_PGA[1]"        LOC =  "AE24"     | IOSTANDARD = LVCMOS33;
NET "AFE_INPUTZ"        LOC =  "AF25"     | IOSTANDARD = LVCMOS33;
NET "AFE_NAPZ"          LOC =  "D24"      | IOSTANDARD = LVCMOS33;
NET "AFE_CLK"       	LOC =  "E25"      | IOSTANDARD = LVCMOS33;
NET "AFE_SHS"          	LOC =  "J25"      | IOSTANDARD = LVCMOS33;
NET "AFE_INTG"          LOC =  "H26"      | IOSTANDARD = LVCMOS33;

NET "ADS_CLK" TNM_NET = ADS_CLK;
TIMESPEC TS_ADS_CLK = PERIOD "ADS_CLK" 50 ns HIGH 50%;

NET "AFE_CLK" TNM_NET = AFE_CLK;
TIMESPEC TS_AFE_CLK = PERIOD "AFE_CLK" 1300 us HIGH 50%;

PIN "CLK_GRT/INTER_CLK_GTR/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "CLK_GRT/INTER_CLK_GTR/clkout2_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;